---
import PageLayout from '@/layouts/CommonPage.astro'
// import Comment from '@/components/Comment.astro'
import ToolSection from '@/components/about/ToolSection.astro'
import Substats from '@/components/about/Substats.astro'

const headings = [
  {
    depth: 2,
    slug: 'general',
    text: 'Developer / Engineer'
  },
  {
    depth: 2,
    slug: 'tools',
    text: 'Tools'
  },
  {
    depth: 2,
    slug: 'social-networks',
    text: 'Social Networks'
  }
  // {
  //   depth: 2,
  //   slug: 'gossips',
  //   text: 'Gossips'
  // },
  // {
  //   depth: 2,
  //   slug: 'about-blog',
  //   text: 'About Blog'
  // }
]
---

<PageLayout title='About' headings={headings} info='/about'>
  <h2 id='general'>Developer / Engineer</h2>
  <p>
    I’m Anushka, and I’m thrilled to have you here. I’m a passionate developer, tech enthusiast, and
    lifelong learner, and this blog is my platform to share my experiences, insights, and knowledge
    with fellow developers and tech enthusiasts like you.
  </p>
  <p>
    I’ve been immersed in the world of software development for almost decade, and my journey
    started when I was captivated by the endless possibilities of coding. I’ve been on a continuous
    quest to explore new technologies, expand my skills, and tackle exciting challenges. Thank you
    for visiting my blog, and I hope you find it both informative and inspiring
  </p>
  <!-- <Button title='Sponsor Me' class='w-fit' href='/projects#sponsorship' style='ahead' /> -->
  <!-- general-talk -->
  <!-- <h2 id='general-talk'>General Talk</h2>
  <ul>
    <li>Lorem ipsum dolor sit amet, vidit suscipit at mei.</li>
    <li>
      Quem denique mea id. Usu ei regione indoctum dissentiunt, cu meliore fuisset mei, vel quod
      voluptua ne.
    </li>
    <li>Ex dicat impedit mel, at eum oratio possit voluptatum.</li>
    <li>Impetus fuisset ullamcorper pri cu, his posse iisque ad, aliquam honestatis usu id.</li>
  </ul> -->

  <!-- tools -->
  <h2 id='tools'>Favorites</h2>
  <p>Tech tools:</p>
  <ToolSection
    class='mb-5'
    title='Programming Language'
    tools={[
      {
        name: 'Javascript',
        description: 'Lightweight programming language',
        href: 'https://developer.mozilla.org/en-US/docs/Web/JavaScript',
        iconPath: 'javascript'
      },
      {
        name: 'Typecript',
        description: 'JavaScript with syntax for types',
        href: 'https://www.typescriptlang.org/',
        iconPath: 'typescript'
      },
      {
        name: 'Python',
        description: 'Behind every AI',
        href: 'https://www.python.org/',
        iconPath: 'python'
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Technologies & Tools'
    tools={[
      {
        name: 'React',
        description: 'Library for web',
        href: 'https://react.dev/',
        iconPath: 'react'
      },
      {
        name: 'NodeJS',
        description: 'Run JavaScript Everywhere',
        href: 'https://nodejs.org/en',
        iconPath: 'nodejs'
      },
      {
        name: 'MySQL',
        description: 'RDBMS',
        href: 'https://www.mysql.com/',
        iconPath: 'mysql'
      },
      {
        name: 'MongoDB',
        description: 'No SQL thingy',
        href: 'http://mongodb.com/',
        iconPath: 'mongo'
      },
      {
        name: 'GraphQL',
        description: 'A query language for your API',
        href: 'https://graphql.org/',
        iconPath: 'graphql'
      },
      {
        name: 'Tailwind',
        description: 'Rapidly build modern websites',
        href: 'https://tailwindcss.com/',
        iconPath: 'tailwind'
      },
      {
        name: 'Cypress',
        description: 'Test. Automate. Accelerate.',
        href: 'https://www.cypress.io/',
        iconPath: 'cypress'
      },
      {
        name: 'Jest',
        description: 'Testing Framework',
        href: 'https://jestjs.io/',
        iconPath: 'jest'
      },
      {
        name: 'Notion',
        description: 'Note Taking',
        href: 'https://www.notion.so/',
        iconPath: 'notion'
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'Warp',
        description: 'Terminal',
        href: 'https://warp.dev/',
        iconPath: 'warp'
      },
      {
        name: 'VS Code',
        description: 'Supercharges your code',
        href: 'https://code.visualstudio.com/',
        iconPath: 'vscode'
      },
      {
        name: 'Github',
        description: 'Build and ship software',
        href: 'https://github.com/',
        iconPath: 'github'
      },
      {
        name: 'Zed IDE',
        description: 'Next-generation code editor',
        href: 'https://zed.dev/',
        iconPath: 'zed'
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'Ubuntu 22.04 LTS',
        description: 'Linux Distribution',
        href: 'https://ubuntu.com/',
        iconPath: 'ubuntu'
      },
      {
        name: 'MacOS Sonoma',
        description: 'MacBook Air',
        href: 'https://www.apple.com/macos/',
        iconPath: 'apple'
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Cloud'
    tools={[
      {
        name: 'AWS',
        description: 'Cloud Everything',
        href: 'https://aws.amazon.com/',
        iconPath: 'ubuntu'
      },
      {
        name: 'Microsoft Azure',
        description: 'Simplifying cloud dev',
        href: 'https://azure.microsoft.com/en-us',
        iconPath: 'azure'
      }
    ]}
  />
  <!-- social-networks -->
  <h2 id='social-networks'>Social Networks</h2>
  <Substats />
</PageLayout>
